<div class="contact-page">
    <div style="position: absolute; top: 16rem; left: 109px; z-index: 3;">
        <app-page-control [page_control_route] = "'Contact'" [direction]="'left'" [route]="'project'" [text]="'Project'" />
    </div>

    <div class="contact_page">
        <div class="contact_title">
            <h1>Connect with me</h1>
            <p>Feel free to connect with me at keniljoshi3@gmail.com. I would be delighted to hear from you and address any inquiries, feedback, or discussions you may have. Whether it's a question about a particular topic, a collaboration opportunity, or simply a friendly conversation, I am always open to connecting with individuals who share a passion for knowledge and learning.</p>
        </div>
        <div class="lets-talk">
            <form [formGroup]="contact_form" (ngSubmit)="submitForm()">
                <ul>
                    <li class="name" [ngClass]="{'active':isActiveElement==1}">
                        <div class="chip">
                            <mat-icon>person</mat-icon>
                            <label for="nameInput">Fill your name</label>    
                        </div>
                        <mat-icon>person</mat-icon>
                        <input type="text" id="nameInput" formControlName="name">
                    </li>
                    <li class="email" [ngClass]="{'active':isActiveElement==2}">
                        <mat-icon>mail</mat-icon>
                        <input type="text" formControlName="email">
                    </li>
                    <li class="comment" [ngClass]="{'active':isActiveElement==3}">
                        <mat-icon> add_comment</mat-icon>
                        <input type="text" placeholder="Enter your text" formControlName="contact">
                    </li>
                </ul>
                <div class="submit">
                    <button class="next_button" [disabled]="!next_disabled || isActiveElement == 3" (click)="nextElement()">
                        <span class="front">
                            NEXT
                        </span>
                      </button>
                    <button type="submit" class="submit_button" [disabled]="contact_form.status=='INVALID'">
                        <span class="front">
                            SUBMIT YOUR MESSAGE
                        </span>
                    </button>
                </div>
            </form>
        </div>
        <div class="lets-social">
            <div class="text-social">
                <h1>Let's get social</h1>
                <p>
                    Feel free Connect with me on Linkedin and GitHub
                </p>
            </div>
            <div class="social-button">
                <a class="githubBtn" href="https://github.com/kenilJoshi">
                    <span class="front">
                        <img src="../../assets/img/githubLogo.png">
                        GitHub
                    </span>
                </a>
                <a class="linkedinBtn" href="https://www.linkedin.com/in/kenil-joshi-2536741ab/">
                    <span class="front">
                        <img src="../../assets/img/linkedinLogo.png">
                        Linkedin
                    </span>
                </a>
            </div>
        </div>
    </div>

</div>