<div class="about-Page" id="about-Page">
  <div class="introParagraph">
    <div class="intro_text">
      <div id="typedtext"></div>
      <canvas id="canvas1" style="position: absolute; top: 0; left: 0"></canvas>
    </div>
    <!-- <h1>Hi Kenil Joshi</h1>
    <p>
        Meet Kenil, a skilled full stack developer proficient in HTML, CSS, JavaScript, Angular, Node.js, and MongoDB. With a passion for web development, Kenil creates dynamic and visually appealing user interfaces using HTML, CSS, and JavaScript. He leverages Angular to build scalable and interactive web applications, while his expertise in Node.js enables him to develop efficient server-side functionalities. Kenil's knowledge of MongoDB ensures seamless data integration, making him a valuable asset for any web development project.</p>
        <span class="cursor" style=" width: 1px;
        height: 25px;
        border: 1px solid black;
        background-color: black;"></span> -->
    <button class="game_start_button">
      <span class="shadow"></span>
      <span class="edge"></span>
      <span class="front">
        DESTORY THIS WEBPAGE
      </span>
    </button>
  </div>
  <div class="follow-me">
    <ul>
      <li><a class="github" href="https://github.com/kenilJoshi" title="Follow on GitHub">
        <span class="githubImg"></span>
      </a></li>
      <li><a class="linkedin" href="https://www.linkedin.com/in/kenil-joshi-2536741ab/" title="Follow on LinkedIn">
        <span class="linkedinImg"></span>
      </a></li>
    </ul>
  </div>
  <div style="position: absolute; top: 23rem; right: 109px;">
    <app-page-control [page_control_route] = "'Home'" />
  </div>
</div>
