@import '../../color';
@import '../../variables';

#dotAnimation{
    position: fixed;
    transition: 0.3s all;
}

.about-Page{
    height: 100%;

    .introParagraph{
        display: flex;
        padding: 0rem 23rem;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        #typedtext{
            display: flex;
            flex-direction: column;
            justify-content: center;
            h1{
                color: map-get($color, text-color)
            }
            p{
                color: map-get($color, text-color)
            }
        }
        .game_start_button{
            position: absolute;
            bottom: 106px;
            padding: 15px 55px;
            background-color: rgb(198, 2, 2);
            color: map-get($color, text-color);
            font-weight: 800;
            border: none;
            box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
        }

    }
}

