@import '../../color';
@import '../../variables';

#dotAnimation{
    position: fixed;
    transition: 0.3s all;
}

.about-Page{
    height: 100%;

    .follow-me{
      z-index: 1001;
      position: fixed;
      left: 0;
      top: calc(50% - (165px / 2));
      width: 55px;
      height: 165px;

      li{
        transform: translateX(-7px);
        transition: 0.3s ease-in-out;
      }

      li:hover{
        transform: translateX(5px);
      }

      li a{        
        display: flex;
        align-items: center;
        justify-content: center;
        width: 68px;
        height: 55px;
        padding-left: 20px;
        margin-left: -20px;
        transition: transform 425ms cubic-bezier(.05,.65,.18,1);
      }
      li .github{
        background-color: #4e545a;
        .githubImg{
          background: url('../../assets/img/githubLogo.png') no-repeat 0 1px;
          background-size: contain;
        }
      }
      li .linkedin{
        background-color: #0077ba;
        .linkedinImg{
          background: url('../../assets/img/linkedinLogo.png') no-repeat 0 1px;
          background-size: contain;
        }
      }
      li span{
        display: block;
        width: 35px;
        height: 35px;
      }

    }

    .introParagraph{
        display: flex;
        padding: 0rem 27rem;
        height: 100%;
        color: map-get($color, text-color);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        #typedtext{
            display: flex;
            flex-direction: column;
            justify-content: center;
            h1{
                color: map-get($color, text-color)
            }
            p{
                color: map-get($color, text-color)
            }
        }
        .intro_text{
            text-align: center;
        }
        .game_start_button{
            position: absolute;
            bottom: 106px;
            background: transparent;
            border: none;
            padding: 0;
            cursor: pointer;
            font-weight: 800;
          }
          .shadow {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 12px;
            background: hsl(0deg 0% 0% / 0.25);
            transform: translateY(2px);
          }
          .edge {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            // border-radius: 12px;
            background: rgb(115, 2, 2);
          }
          .front {
            display: block;
            position: relative;
            padding: 12px 42px;
            // border-radius: 12px;
            // font-size: 1.25rem;
            color: map-get($color, text-color);
            background: rgb(198, 2, 2);
            transform: translateY(-4px);
          }
          
          .game_start_button:hover .front {
            transform: translateY(-6px);
            background: rgb(178, 2, 2);
          }
          .game_start_button:hover .shadow {
            transform: translateY(4px);
          }
          .game_start_button:active .front {
            transform: translateY(-2px);
          }
          .game_start_button:active .shadow {
            transform: translateY(1px);
          }
          
          .game_start_button:focus:not(:focus-visible) {
            outline: none;
          }

    }
}

